@{
    @model IEnumerable<POCHTI_KURSACH.Models.Entities.Product>;
    ViewData["Title"] = "ShowAll";
}
<form>
    <select name="categoryId" asp-items="ViewBag.CategoryList" class="list-group-item-dark mt-4" style="font-size:18px; padding-bottom:2px"></select>
    <input name="search" type="search"/>
    <input type="submit" value="Найти"/>
</form>
<h1>Каталог товаров</h1>
<ul class="products clearfix">
    @foreach (var item in Model)
    {
        <li class="product-wrapper">
            <div class="product">
                <p><b>@item.Name</b></p>

                <img style="width: 75%; padding-bottom: 10px;" src="@Url.Content(item.image)" alt="@item.Name" />
                <a asp-area=""  asp-route-id="@item.Id" asp-controller="Catalog" asp-action="Detail">
                    <input value="Подробнее" type="button" class="b1" />
                </a>
            </div>
            
        </li>
    }
</ul>